<div class='alert alert-success alert-submitted alert-questionextrasurvey questionextrasurvey-submitted'>
    {{ sprintf(language['Your %s was saved as complete, you can close this windows.'],language['response']) }}
</div>
