<!-- delete modal -->
<div id="modal-confirm-clearall-extrasurvey" class="modal modal-confirm modal-confirm-questionextrasurvey"  tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content panel panel-warning">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="h4 modal-title" id="label-confirm-clearall">{{ language['Are you sure you want to delete this response?'] }}
        </div>
      </div>
      <div class="modal-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="label-confirm-clearall">
          <a class="btn btn-warning btn-confirm" data-dismiss='modal'>{{ gT('Yes') }}</a>
          <a class="btn btn-default btn-cancel" data-dismiss='modal'>{{ gT('No') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
