{#
 @since 5.13.4
 @param array aSurveyInfo
 @param array aResponses
 @param string inputValue
 @param array questionAttributes
 @param integer surveyid
 @param integer extrasurveyqid
 @param string token
 @param string newUrl
 @param integer maxResponse (questionAttributes.extraSurveyMaxresponse)
 @param fillAnswerWith string (questionAttributes.extraSurveyFillAnswer)
 @param array language (langage string)
 @param array questionExtraSurveyReset
#}
<ul id="extrasurvey-list-{{ qid }}-{{ surveyid }}" class="list-group list-group-{{ qid }}">
    {% for srid, response in aResponses %}
        {% if response.submitdate %}
            {% set iconstate= '<i class="fa fa-check-square-o text-success pull-right" aria-hidden="true"></i>' %}
            {% set linkstateclass= 'text-success' %}
        {% else %}
            {% set iconstate= '<i class="fa fa-square-o text-danger pull-right" aria-hidden="true"></i>' %}
            {% set linkstateclass= '' %}
        {% endif %}
        {% set text = response.text %}
        {% if response.url %}
            <li class='list-group-item item-response-url' data-response='{{ C.Html.encode(json_encode(response)) }}'>
                {% if response.deleteurl %}
                    <a role="button" class="text-danger" data-extra-surveyid="{{surveyid}}" data-actionurl="{{ response.deleteurl }}" data-confirm="modal-confirm-clearall-extrasurvey" title="{{ language['Delete'] }}">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span class='sr-only'>{{ language['Delete'] }}</span>
                    </a>
                {% endif %}
                {% if questionAttributes.extraSurveyShowId %} <span class='badge'>{{ response.id }}</span>{% endif %}
                {{ iconstate }}
                <a href="{{ response.url }}" class="{{ linkstateclass }}" target="frame-questionExtraSurvey" data-srid="{{ response.id }}"  data-extra-surveyid="{{surveyid}}">
                    {{ response.text }}
                </a>
            </li>
        {% else %}
            <li class='list-group-item item-no-url disable text-muted' data-response='{{ C.Html.encode(json_encode(response)) }}'>
                {% set text = '' ~ text %}
                {% if questionAttributes.extraSurveyShowId %} <span class='badge'>{{ response.id }}</span>{% endif %}
                {{ iconstate }}
                <span class="{{ linkstateclass }}"> 
                    <i class="fa fa-exclamation-triangle text-muted" aria-hidden="true"></i> {{ response.text }}
                </span>
            </li>
        {% endif %}
    {% endfor %}
    {% if (not maxResponse|trim|length or count(aResponses) < maxResponse) %}
        <li class="list-group-item item-add-reponse-url">
            <a href="{{ newUrl }}" data-extra-surveyid="{{surveyid}}" class="add-reponse-url btn btn-link btn-block" target="frame-questionExtraSurvey">
                <div class="text-left"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ language['createNewreponse'] }}
                </div>
            </a>
        </li>
    {% endif %}
</ul>

{% if inputName %}
    <div class="answer-item text-item hidden" aria-hidden="true">
        <input type="text" class="form-control" name="{{ inputName }}" id="answer{{ inputName }}" value="{{ inputValue }}">
    </div>
    <script>
        $("#answer{{ inputName }}").trigger("keyup");
    </script>
{% endif %}
<!-- Used to reset current response when close -->
{% for key, resetvalue in questionExtraSurveyReset %}
    <input type="hidden" name="questionExtraSurveyReset[{{ key }}]" value="{{ resetvalue }}">
{% endfor %}
<script>
    $("#extrasurvey-list-{{ qid }}-{{ surveyid }}").trigger("html:updated");
</script>
