/*!
 * Style for questionExtraSurvey
 *
 * Copyright 2015-2025 Denis Chenu <http://www.sondages.pro>
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * @version 5.13.2
 */

#modal-questionExtraSurvey iframe{width:100%;border:0;min-height:300px}
@media (min-width: 992px) {
  #modal-questionExtraSurvey .modal-lg {
    min-width: 90%;
  }
}
@media (max-width: 992px) {
  #modal-questionExtraSurvey .modal-lg {
    min-width: 99%;
  }
}
#modal-questionExtraSurvey .modal-body{
  padding:0;
  position:relative;
}
#modal-questionExtraSurvey .modal-lg {
  margin: 0 auto;
}
#modal-questionExtraSurvey .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
}
#modal-questionExtraSurvey .frame-loaded .loader{
    display:none;
    transition: 400ms linear;
}
#modal-questionExtraSurvey .frame-loading #extra-survey-iframe {
    visibility:hidden;
}
.btn-waiting {
    opacity:0;
    transition: 200ms linear;
    pointer-events: none;
}
.questionExtraSurvey.boilerplate .answer-container {
  display: block;
}
.list-questionextrasurvey-loading .list-group{background: #ddd;opacity: 0.4;}
.list-questionextrasurvey-loading{position:relative;pointer-events: none;}
.list-questionextrasurvey-loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-top: -1em;
  margin-left: -1em;
  display: block;
  width: 2em;
  height: 2em;
  border-style: solid;
  border-color: #000;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: questionextrasurvey-spinner 0.8s linear infinite;
  animation: questionextrasurvey-spinner 0.8s linear infinite;
}
@-webkit-keyframes questionextrasurvey-spinner {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes questionextrasurvey-spinner {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
